@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

*:focus {
  outline: 0;
}

html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 24px;
  border: 1px solid #eee;
}
