.offersList {
  grid-row-gap: 32px;
  grid-column-gap: 8px;
}

.offersList::-webkit-scrollbar {
  width: 8px;
}

.offersList::-webkit-scrollbar-track {
  background: #fff;
}

.offersList::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 24px;
  border: 1px solid #eee;
}

@media (min-width: 1024px) {
  .offersList {
    grid-row-gap: 32px;
    grid-column-gap: 16px;
  }
}
