.popupTriangle {
  position: absolute;
  top: -11px;
  right: -1px;
  width: 0;
  height: 0;
  border-left: 8.5px solid transparent;
  border-right: 8.5px solid transparent;
  border-bottom: 10px solid rgb(0, 0, 0, 0.2);
}
